<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BooruDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BooruDownloader.Properties.Settings>
            <setting name="CurrentTags" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentRating" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="CurrentFormat" serializeAs="String">
                <value>TaggedFilename</value>
            </setting>
            <setting name="StartSequence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentSource" serializeAs="String">
                <value>Danbooru</value>
            </setting>
            <setting name="CurrentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DanbooruUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DanbooruKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DanbooruID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DanbooruAccountLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DanbooruCredentialsHash" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateSubfolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatTags" serializeAs="String">
                <value>True</value>
            </setting>
        </BooruDownloader.Properties.Settings>
    </userSettings>
</configuration>